.venv
.vscode

.env
.env.local
.env.development.local
.env.test.local
.env.production.local


__pycache__/


htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

node_modules/
frontend/build/

*/media/*
/.pnp
.pnp.js

frontend/coverage
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*